{%extends "base.html"%}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script type = 'text/javascript' src = "{{ url_for('static', filename = 'main_script.js') }}"></script>    
<div class = 'send_form'>
    <div class = 'attachments_button'></div>
    <div class = 'text_area'><textarea placeholder='Введите сообщение' id = "MessageBox"></textarea></div>
    <div class = 'send_button'><input type = 'button' value = 'send' onclick="send_message();"></div>
</div>
</div>
{% endblock %}